# MultiVariate Imputation
## KNN Imputer

In [1]:
import numpy as np
import pandas as pd

In [11]:
# using the titanic dataset again...
df = pd.read_csv("C:\\Data Science Preparation\\1_CampusX - end to end\\100 Days of Machine Learning\\Day38 - Missing Data (Random Value Imputation and Missing Indicator)\\train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df = df[['Age', 'Pclass', 'Fare', 'Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [14]:
# percentage of missing values
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

### Training with KNN Imputer

In [15]:
# input and output
x = df.drop(columns=['Survived'])
y = df['Survived']

In [18]:
# train test split
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [32]:
# import KNN imputer
from sklearn.impute import KNNImputer, SimpleImputer

# we are setting the number of neighbours to 3 and weights to calculated based on distance
knn = KNNImputer(n_neighbors=3, weights='distance')
# experiment with different n_neighbours...
# weights can be "distance"(farther rows have lower weights), 'uniform'(all rows have same weights)

In [23]:
# transoform the data with the KNN imputer
x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [24]:
# now training the model on Logistic Regression
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

In [26]:
# train the model
lr.fit(x_train_trf, y_train)

y_pred = lr.predict(x_test_trf)

In [28]:
# check accuracy
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.7150837988826816

### Without KNN Imputer (Simple Imputer)

In [29]:
from sklearn.impute import SimpleImputer

si = SimpleImputer()

# data transformed with Simple Imputer
x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [31]:
# using the Logistic Regression again...
lr = LogisticRegression()

lr.fit(x_train_trf2, y_train)
y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_test, y_pred2)

0.6927374301675978

Note that the KNN has better accuracy by 2.3%....